html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta todo lo que salga de la pantalla */
    overscroll-behavior: none; /* Evita el "efecto rebote" o pull-to-refresh en celulares */
    touch-action: none; /* Bloquea cualquier intento de arrastrar o hacer zoom con los dedos */
}

/* --- ESCENA PRINCIPAL --- */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #5fbec7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    font-family: 'Times New Roman', Times, serif;
}

#btn-regresar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
}

#btn-regresar:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transform: scale(1.05);
}

.escena-margarita {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* --- ANIMACIÓN DE LA MARGARITA --- */
.margarita-esquina {
    position: absolute;
    bottom: -2%; 
    right: -15%;  
    height: 50vh;
    max-height: 450px;
    object-fit: contain;
    z-index: 2;
    
    transform-origin: bottom left; 
    opacity: 0;
    
    animation: 
        aparecerMargarita 2s ease-out forwards,
        brisaSuave 4s infinite ease-in-out alternate 2s; 
}

@keyframes aparecerMargarita {
    0% { opacity: 0; transform: rotate(-15deg); } 
    100% { opacity: 1; transform: rotate(0deg); }
}

@keyframes brisaSuave {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(4deg); } 
}

/* --- TEXTO --- */
.texto-margarita {
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 10;

    white-space: pre-wrap;
}

/* Ajuste para celular */
@media (max-width: 600px) {
    .texto-margarita {
        font-size: 1.8rem;
        bottom: 25%;
    }
}


.ContenedorNubes {
    position: absolute;
    width: 80vh;
    height: 50vh; 
    top: 0%; 
    left: 20%;
    z-index: 10;
    cursor: pointer;
}

#nube1{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 15%;
}

/* --- ANIMACIÓN FLOTAR --- */
@keyframes flotar {
    0% { transform: translateY(0px); opacity: 100%;}
    50% { transform: translateY(-10px); opacity: 70%;}
    100% { transform: translateY(0px); opacity: 100%;}
}

.flotando {
    animation: flotar 3s ease-in-out infinite;
}